@model MatchesResultModel

@{
    ViewData["Title"] = "Matches Page";

    var response = Model.Recognize;
}

<div id="spinner-area">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
            <div class="spinner-txt">загрузка...</div>
        </div>
    </div>

<!--
    *******************
    SLIDER
    *******************
    -->
<div class="top-header">
    <div class="total-grad"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="specs">
                    <div class="">
                        <img src="~/img/avatars/avatar3.png" height="42" alt="">
                    </div>
                </div>
                <div class="wrapper">
                    <div class="heading">@User.Identity.Name <a style="color:#cc8e35 !important" href="@Url.Action("EditForm", "Profile")"><i class="fa fa-pencil" style="font-size:24px"></i></a></div>
                    <h3 class="subheding">Премиум-подписка активна до 30.11.2022</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    *******************
    WHY CHOOSE ELASTIC
    *******************
    -->
<section class="services classic sec-uping">
    <div class="container">
        <div class="service-wrap">
            <div class="row">
                <div class="col-sm-1 col-md-4">
                    <div class="service-section">
                        <div class="title">Генеалогическое древо</div>
                        <p class="subtitle">
                            Сохраните память о поколениях и найдите своих родственников
                        </p>
                        <a href="@Url.Action("GenealogyTree", "Recognize")" class="btn btn btn-default-green-fill">Перейти</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="service-section-action service-section">
                        <div class="title">Поиск по фото</div>
                        <p class="subtitle">
                            Ищите людей в социальных сетях с помощью фотографий
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="service-section">
                        <div class="plans badge feat bg-green">Новое</div>
                        <div class="title">Запрос архивов</div>
                        <p class="subtitle">
                            Найдите данные о родственниках в открытых банках данных
                        </p>
                        <a href="/search/memorial" class="btn btn btn-default-green-fill">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="shopping blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-blog">

                    <div class="row">
                        <div class="col-md-12 col-lg-12 mb-80">
                            <div class="heading comment">Мы нашли @response.Results.Count подходящих людей:</div>
                            <div class="line"></div>

                            @if (response != null)
                            {
                                @foreach (var person in Model.Persons)
                                {
                                    <div class="media">
                                        <img class="media-object" src="@($"data:image/png;base64, {person.face.ImageBase64}")" alt="photo">
                                        <div class="media-body">
                                            <h4 class="media-heading">@(person.person == null ? "Имя не найдено" : $"{person.person.Surname} {person.person.Name} {person.person.MiddleName}")</h4>
                                            <div class="text-blog mt-0">
                                                @if (person.person?.BirthDate.HasValue ?? false)
                                                {
                                                    string dateDescription = person.person?.DeathDate.HasValue ?? false
                                                        ? $"{person.person?.BirthDate.Value.ToString("dd.MM.yyyy")} - {person.person?.DeathDate.Value.ToString("dd.MM.yyyy")}"
                                                        : $"Дата рождения: {person.person?.BirthDate.Value.ToString("dd.MM.yyyy")}";

                                                    <span>@dateDescription</span>
                                                }
                                                @if (!string.IsNullOrEmpty(person.person?.BirthPlace))
                                                {
                                                    <span>@($"Место рождения: {person.person?.BirthPlace}")</span>
                                                }
                                                
                                                <p class="overview-txt">
                                                    @($"Вероятность совпадения: {string.Format("{0:0.###}", response.Results.FirstOrDefault(res => res.FaceUuid == Model.FaceId).Matches.FirstOrDefault(match => match.FaceUuid == person.face.Face.FaceUuid).Confidence)}")
                                                </p>
                                                <p class="overview-txt">
                                                    @($"Предположительный возраст на фото: {person.face.Face.Tags.First(tag => tag.Name == "age").Value}")
                                                </p>

                                                @if (person.person?.Id != null && person.person?.Id != new Guid())
                                                {
                                                    <p class="overview-txt">@($"Id человека: {person.person.Id}")</p>
                                                }
                                            </div>
                                            <div class="multirow-auto">
                                                @*<a class="goto-link" href=""> <div style="max-width: 250px" class="btn-listing btn-default-green-fill">На древо</div></a>*@
                                                @if (!string.IsNullOrEmpty(person.person?.SourceLink))
                                                {
                                                    <a class="goto-link" href="https://obd-memorial.ru/html/info.htm?id=5420874"> <div class="btn-listing btn-default-green-fill">Источник</div></a>
                                                }
                                                <div style="max-width: 100px" class="btn-listing btn-default-green-fill" person-form-btn="@person.face.Face.FaceUuid">Дополнить</div>
                                            </div>
                                        </div>
                                    </div>

                                    <hr>
                                    <form class="comments-form" person-additional-form="@person.face.Face.FaceUuid" action="@Url.Action("AddPerson", "Recognize")" hidden>
                                        <div class="multirow">
                                            <input id="middlename" type="text" name="middlename" placeholder="Фамилия" class="input tripleline" value="@person.person?.MiddleName">
                                            <input id="name" type="text" name="name" placeholder="Имя" class="input tripleline" value="@person.person?.Name">
                                            <input id="surname" type="text" name="surname" placeholder="Отчество" class="input tripleline" value="@person.person?.Surname">
                                        </div>
                                        <div class="multirow">
                                            <input id="birthdate" type="date" name="birthdate" placeholder="Дата рождения" class="input doubleline" value="@person.person?.BirthDate">
                                            <input id="birthplace" type="text" name="birthplace" placeholder="Место рождения" class="input doubleline" value="@person.person?.BirthPlace">
                                        </div>
                                        <div class="multirow">
                                            <input id="deathdate" type="date" name="deathdate" placeholder="Дата смерти" class="input tripleline" value="@person.person?.DeathDate">
                                            <input id="burialregion" type="text" name="burialregion" placeholder="Регион захоронения" class="input tripleline" value="@person.person?.BurialRegion">
                                            <input id="burialplace" type="text" name="burialplace" placeholder="Место захоронения" class="input tripleline" value="@person.person?.BurialPlace">
                                        </div>
                                        
                                        <div>
                                            <input id="gender" type="number" name="gender" placeholder="Пол" class="input tripleline" value="@person.person?.Gender" min="0" max="1" step="1">
                                            <input id="motherid" type="text" name="motherid" placeholder="Id матери" class="input tripleline" value="@person.person?.MotherId">
                                            <input id="fatherid" type="text" name="fatherid" placeholder="Id отца" class="input tripleline" value="@person.person?.FatherId">
                                            <input id="partnerid" type="text" name="partnerid" placeholder="Id партнера" class="input tripleline" value="@person.person?.PartnerId">
                                        </div>

                                        <input id="id" type="hidden" name="id" value="@person.person?.Id">
                                        <input id="faceid" type="hidden" name="faceid" value="@person.face.Face.FaceUuid">

                                        <input id="form-submit" type="submit" style="max-width: 125px" class="btn-listing btn-default-green-fill" value="Сохранить">
                                    </form>
                                }
                            }
                            @*<a href="" class="btn btn-default-green-fill">Загрузить еще</a>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
