@model UploadResultViewModel

@{
    ViewData["Title"] = "Recognize Page";

    var response = Model.Response;
}

<div id="spinner-area">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
            <div class="spinner-txt">загрузка...</div>
        </div>
    </div>

<!--
    *******************
    SLIDER
    *******************
    -->
<div class="top-header">
    <div class="total-grad"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="specs">
                    <div class="">
                        <img src="~/img/avatars/avatar3.png" height="42" alt="">
                    </div>
                </div>
                <div class="wrapper">
                    <div class="heading">@User.Identity.Name <a style="color:#cc8e35 !important" href="@Url.Action("EditForm", "Profile")"><i class="fa fa-pencil" style="font-size:24px"></i></a></div>
                    <h3 class="subheding">Премиум-подписка активна до 30.11.2022</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    *******************
    WHY CHOOSE ELASTIC
    *******************
    -->
<section class="services classic sec-uping">
    <div class="container">
        <div class="service-wrap">
            <div class="row">
                <div class="col-sm-1 col-md-4">
                    <div class="service-section">
                        <div class="title">Генеалогическое древо</div>
                        <p class="subtitle">
                            Сохраните память о поколениях и найдите своих родственников
                        </p>
                        <a href="@Url.Action("GenealogyTree", "Recognize")" class="btn btn btn-default-green-fill">Перейти</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="service-section-action service-section">
                        <div class="title">Поиск по фото</div>
                        <p class="subtitle">
                            Ищите людей в социальных сетях с помощью фотографий
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="service-section">
                        <div class="plans badge feat bg-green">Новое</div>
                        <div class="title">Запрос архивов</div>
                        <p class="subtitle">
                            Найдите данные о родственниках в открытых банках данных
                        </p>
                        <a href="/search/memorial" class="btn btn btn-default-green-fill">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sec-normal sec-grad-grey-to-grey">
      <div class="team">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
              <h2 class="section-heading">Мы нашли @Model.Faces.Count() человек на фотографии</h2>
              <p class="section-subheading">Выберите, по кому осуществлять поиск</p>
            </div>
            
            @foreach (var face in Model.Faces)
             {
                <div class="col-sm-12 col-md-4">
                  <div class="wrapper">
                    <div class="team-info">
                        <a class="face_info" href="@($"/Recognize/Matches/?faceId={face.Face.FaceUuid}")">
                      <img src="@($"data:image/png;base64, {@face.ImageBase64}")" alt="team">
                       </a>
                    </div>
                  </div>
                </div>
             }
        </div>

    </div>
    </div>
</section>
<script>
    document.querySelectorAll('.face_info')?.addEventListener('click', (ev) => {
        showSpiner();
    });</script>
